@{
    ViewBag.Title = "Home Page";

}

    <style>
        #navbar1 ul {
            display: none;
            position: absolute;
            top: 100%;
            
        }

        #navbar1 li:hover ul {
            display: block;
        }

        #navbar1, #navbar1 ul {
            margin: 0px;
            padding: 0px;
            list-style-type: none;
        }

        #navbar1 {
            height: 30px;
        }

            #navbar1 li {
                float: left;
                position: relative;
            }

            #navbar1 ul li {
                float: none;
            }
    </style>

    <h2>Меню</h2>


    <div>
        @Html.Raw(ViewBag.Message)     
    </div>
    



   




    



    

